# Backend Configuration
SECRET_KEY=super-secret-key-change-in-production-fypproject2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# MySQL Database Configuration
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=personalized_learning_db

# Frontend Configuration
VITE_API_BASE_URL=http://127.0.0.1:8000/api
